* {
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none; 
}
body{
	background: #0D0105;
	font-family: "微软雅黑","宋体";
	font-size: 14px;
}
.no_border {
    border: none !important;
}
/* header */
.header {
    width: 100%;
    height: 100px;
    background:url(images/homehead.png) no-repeat center top;
    position: absolute;
    padding-top: 15px;
    z-index: 2;
}
.header .logo {
    width: 450px;
    height: 280px;
    position: absolute;
    margin-left: -225px;
    left: 50%;
    top: 0;
}
.header .logo h1 {
    width: 100%;
    height: 100%;
    background: url(images/logo.png) no-repeat center top;
    text-indent: -999em;
    overflow: hidden; 
}
.header .h_nav {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    /* ??? */
    position: relative; 
    /* ??? */
    z-index: 999;
}
.header .h_nav ul li {
    width: 110px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
}
.header .h_nav ul li.num3 {
    margin-right: 300px;
}
.header .h_nav ul li a {
    display: block;
    height: 50px;
    color: #fff;
}
.header .h_nav ul li a:hover {
    background: url(images/icons.png) no-repeat 2px 2px;
}
/* header */

/* banner */
.banner {
    width: 100%;
    height: 565px;
    position: absolute;
    top: 80px;
    left: 0;
}
.banner .banner_img {
    width: 100%;
    height: 565px;
    position: absolute;
    margin-left: -720px;
    top: 0;
    left: 50%;
}
.banner a.left ,
.banner a.right {
    display: block;
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    background: #fff;
}
.banner a.left {
    left: 20px;
    background: url(images/icons.png) -373px 0;
}
.banner a.right {
    right: 20px;
    background: url(images/icons.png) -451px 0;
}
.banner a.left:hover {
    background: url(images/icons.png) -373px -103px;
}
.banner a.right:hover {
    background: url(images/icons.png) -451px -103px;
}
.banner .mini_banner {
    width: 100%;
    height: 133px;
    background: url(images/b.png) no-repeat center 24px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner .mini_banner .box {
    height: 133px;
    margin: 0 auto;
    width: 540px;
}
.banner .mini_banner ul li {
    float: left;
    width: 180px;
    height: 133px;
    text-align: center;
}
.banner .mini_banner ul li a {
    display:block;
    
}
.banner .mini_banner ul li a:hover {
    background: url(images/icons.png) no-repeat -119px -99px;
}
.banner .mini_banner ul li h3 {
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
    color: #fff;
    font-size:14px; 
    visibility: hidden;
}
.banner .mini_banner ul li a:hover h3{
    visibility: visible;
}
.banner .mini_banner ul li img {
    opacity: 0.65;
}
.banner .mini_banner ul li a:hover img {
    opacity: 1;
}
/* banner */

/* footer */
.footer {
    position: absolute;
    top: 645px;
    left: 0;
    width: 100%;
    height: 140px;
    background:url(images/footer.jpg) no-repeat top center;
    color: #766970;
    font-size: 12px;
}
.footer .linker {
    width: 412px;
    margin: 0 auto;
    overflow: hidden;
    padding-top:30px; 
}

.footer .linker li {
    float: left;
}
.footer .linker li a {
    display: block;
    padding: 0 10px;
    border-right:1px solid #766970;
    height: 12px;
    line-height: 12px; 
    color: #766970;
}
.footer .linker li a:hover {
    color: #fff;
}
.footer .copy ,
.footer .design {
    margin: 0 auto;
    text-align: center;    
}
.footer .copy {
    line-height: 30px;
}

/* footer */